# Самый верхний файл EditorConfig.
root = true

# Новые строки в стиле Unix с новой строкой, завершающей каждый файл.
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
